.button-animated {
    --duration: 0.5s;
    --move-hover: -4px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transform: translateY(var(--y));
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}
.button-animated div {
    display: flex;
}
.button-animated div span {
    display: block;
    backface-visibility: hidden;
    font-style: normal;
}
.button-animated div span:nth-child(1) {
    --d: 0.05s;
}
.button-animated div span:nth-child(2) {
    --d: 0.1s;
}
.button-animated div span:nth-child(3) {
    --d: 0.15s;
}
.button-animated div span:nth-child(4) {
    --d: 0.2s;
}
.button-animated div span:nth-child(5) {
    --d: 0.25s;
}
.button-animated div span:nth-child(6) {
    --d: 0.3s;
}
.button-animated div span:nth-child(7) {
    --d: 0.35s;
}
.button-animated div span:nth-child(8) {
    --d: 0.4s;
}
.button-animated div span:nth-child(9) {
    --d: 0.45s;
}
.button-animated div span:nth-child(10) {
    --d: 0.5s;
}
.button-animated div span:nth-child(11) {
    --d: 0.55s;
}
.button-animated:hover {
    --y: var(--move-hover);
    --move: -4px;
    --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);
}
.button-animated:hover span {
    animation: move var(--duration) linear var(--d);
}
.button-animated.smoke {
    --move: 12px;
    --move-y: -8px;
    --blur: 4px;
}
.button-animated.smoke:hover span {
    --duration: 1s;
    animation: smoke var(--duration) linear var(--d);
}
@keyframes move {
    40% {
        transform: translateY(var(--move));
        text-shadow: var(--shadow-active);
    }
}
@keyframes smoke {
    45%, 55% {
        filter: blur(var(--blur));
    }
    50%, 50.1% {
        opacity: 0;
    }
    25%, 75% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(var(--move)) translateY(var(--move-y));
    }
    50.1% {
        transform: translateX(calc(var(--move) * -1));
    }
}
