@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-640px * 4));
    }
}

@keyframes scroll_rea {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-640px * 3));
    }
}

.animate-scrolling {
    animation: scroll 40s linear infinite;
}

.animate-scrolling-rea {
    animation: scroll_rea 30s linear infinite;
}

.shadow-custom {
    box-shadow: inset 0 0 35px 10px #1b1f4c;
}

.shadow-innercustom:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 31;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transform: translate(10px, 10px);
    pointer-events: none;
}

.shadow-innercustom:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 31;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transform: translate(-10px, -10px);
    pointer-events: none;
}
