@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin 'tailwindcss-animate';

/* Safelist for dynamically generated classes */
@source inline("fill-indigo-500 fill-sky-500 fill-lime-500 fill-rose-500 fill-amber-500 fill-emerald-500 fill-cyan-500 fill-violet-500 fill-fuchsia-500 fill-orange-500 fill-teal-500");

@theme {
	/* Custom breakpoints - values in rem for Tailwind v4 */
	--breakpoint-xs: 20rem; /* 320px */
	--breakpoint-sm: 40rem; /* 640px */
	--breakpoint-md: 48rem; /* 768px */
	--breakpoint-lg: 64rem; /* 1024px */
	--breakpoint-xl: 80rem; /* 1280px */
	--breakpoint-2xl: 96rem; /* 1536px */

	/* Map Next.js font variables to Tailwind default font utilities */
	--font-sans: var(--font-be-vietnam-pro);
	--font-serif: var(--font-noto-serif-display);

	/* Custom andy colors */
	--color-andy-purple-500: #6c00a2;
	--color-andy-blue-500: #001152;

	/* Custom slate colors */
	--color-slate-1100: #090d16;
	--color-slate-1000: #0d1321;
	--color-slate-50: #f8fafc;

	/* Custom sky colors */
	--color-sky-1100: #011623;
	--color-sky-1000: #042c44;

	/* Custom neutral colors */
	--color-neutral-1100: #080808;
	--color-neutral-1000: #0f0f0f;

	/* Custom indigo colors */
	--color-indigo-1100: #0d0c3c;
	--color-indigo-1000: #1e1c5e;
	--color-indigo-400: #6366f1;
	--color-indigo-500: #6366f1;

	/* Custom spacing */
	--spacing-128: 32rem;
	--spacing-112: 28rem;

	/* Custom border width */
	--border-width-40: 40px;
	--border-width-20: 20px;

	/* Custom skew */
	--transform-skew-32: 32deg;
	--transform-skew-30: 30deg;
	--transform-skew-28: 28deg;
	--transform-skew-24: 24deg;
	--transform-skew-20: 20deg;
	--transform-skew-17: 17deg;

	/* Custom brightness */
	--filter-brightness-25: 0.25;
	--filter-brightness-10: 0.1;
}

@layer utilities {
	:root {
		--video-width: 100vw;
		--video-height: 100vh;

		/*Gradient*/
		--color-bg1: rgb(108, 0, 162);
		--color-bg2: rgb(0, 17, 82);
		--color1: 29, 78, 216;
		--color2: 162, 28, 175;
		--color3: 34, 211, 238;
		--color4: 220, 38, 38;
		--color5: 217, 119, 6;
		--color-interactive: 99, 102, 241;
		--circle-size: 80%;
		--blending: hard-light;
	}

	@media (min-aspect-ratio: 16/9) {
		:root {
			--video-height: 56.25vw;
		}
	}

	@media (max-aspect-ratio: 16/9) {
		:root {
			--video-width: 177.78vh;
		}
	}

	* {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		list-style: none;
		text-decoration: none;
		-webkit-transition:
			opacity,
			z-index,
			color ease-in-out 0.3s;
		-o-transition:
			opacity,
			z-index,
			color ease-in-out 0.3s;
		transition:
			opacity,
			z-index,
			color ease-in-out 0.3s;
		font-family: var(--font-be-vietnam-pro);
		color: #fff;
	}

	::-moz-selection {
		background: #312e81;
		color: #fff;
	}

	::selection {
		background: #312e81;
		color: #fff;
	}

	.Toastify__toast-body * {
		font-family: var(--font-be-vietnam-pro);
		font-weight: 400;
		color: #000;
	}

	blockquote {
		border-left: #fff !important;
	}

	body {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		--sb-track-color: #000;
		--sb-thumb-color: #fff;
		--sb-size: 10px;
		display: inline-block;
		width: 100vw;
		max-width: 100vw;
		clear: both;
		overflow-x: hidden;
		background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
		background-size: cover;
	}

	*::-webkit-scrollbar {
		width: var(--sb-size); /* For vertical scrollbar */
		height: var(--sb-size); /* For horizontal scrollbar */
	}

	*::-webkit-scrollbar-track {
		background: var(--sb-track-color);
		border-radius: 1px;
	}

	*::-webkit-scrollbar-thumb {
		background: var(--sb-thumb-color);
		border-radius: 1px;
	}

	@supports not selector(::-webkit-scrollbar) {
		* {
			scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
			scrollbar-width: thin; /* This will apply to both vertical and horizontal scrollbars */
		}
	}

	html {
		overflow-x: hidden;
		max-width: 100vw;
		scroll-behavior: smooth;
	}

	body::after {
		position: fixed;
		top: 0;
		left: 0;
		content: '';
		z-index: -11;
		width: 100vw;
		height: 100vh;
		opacity: 10%;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: none;
		padding: 0;
		margin: 0;
	}

	nav a {
		text-decoration: none;
	}

	h1,
	h1 *,
	h2,
	h2 *,
	h3,
	h4,
	h5,
	h6,
	nav * {
		font-family: var(--font-noto-serif-display);
		font-weight: initial;
	}

	a:focus,
	a:hover {
		-webkit-filter: saturate(120%) brightness(120%);
		filter: saturate(120%) brightness(120%);
		-webkit-transition: all ease-in-out 0.2s;
		-o-transition: all ease-in-out 0.2s;
		transition: all ease-in-out 0.2s;
	}

	/*------------------ ------------------- Video --------------------------------------------------------------------------------------*/
	.mask {
		-webkit-mask-image: url(/assets/images/bg_transition_black.webp);
		mask-image: url(/assets/images/bg_transition_black.webp);
		-webkit-mask-position: center center;
		mask-position: center center;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-size: cover;
		mask-size: cover;
	}

	.video-background {
		position: relative;
		overflow: hidden;
		width: 100vw;
		height: 100vh;
	}

	.video-background iframe {
		position: absolute;
		top: 50%;
		left: 50%;
		width: var(--video-width);
		height: var(--video-height);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.animate-video {
		-webkit-animation: video-in 3s ease-in forwards;
		animation: video-in 3s ease-in forwards;
	}

	@-webkit-keyframes video-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes video-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	/*------------------ ------------------- Gradient Background --------------------------------------------------------------------------------------*/
	@media (prefers-reduced-motion: reduce) {
		.g1,
		.g2,
		.g3,
		.g4,
		.g5 {
			-webkit-animation: none;
			animation: none;
		}
	}

	@-webkit-keyframes moveInCircle {
		0% {
			-webkit-transform: translate3d(0, 0, 0) rotate(0deg);
			transform: translate3d(0, 0, 0) rotate(0deg);
		}
		50% {
			-webkit-transform: translate3d(0, 0, 0) rotate(180deg);
			transform: translate3d(0, 0, 0) rotate(180deg);
		}
		100% {
			-webkit-transform: translate3d(0, 0, 0) rotate(360deg);
			transform: translate3d(0, 0, 0) rotate(360deg);
		}
	}

	@keyframes moveInCircle {
		0% {
			-webkit-transform: translate3d(0, 0, 0) rotate(0deg);
			transform: translate3d(0, 0, 0) rotate(0deg);
		}
		50% {
			-webkit-transform: translate3d(0, 0, 0) rotate(180deg);
			transform: translate3d(0, 0, 0) rotate(180deg);
		}
		100% {
			-webkit-transform: translate3d(0, 0, 0) rotate(360deg);
			transform: translate3d(0, 0, 0) rotate(360deg);
		}
	}

	@-webkit-keyframes moveVertical {
		0% {
			-webkit-transform: translate3d(0, 0, 0) translateY(-50%);
			transform: translate3d(0, 0, 0) translateY(-50%);
		}
		50% {
			-webkit-transform: translate3d(0, 0, 0) translateY(50%);
			transform: translate3d(0, 0, 0) translateY(50%);
		}
		100% {
			-webkit-transform: translate3d(0, 0, 0) translateY(-50%);
			transform: translate3d(0, 0, 0) translateY(-50%);
		}
	}

	@keyframes moveVertical {
		0% {
			-webkit-transform: translate3d(0, 0, 0) translateY(-50%);
			transform: translate3d(0, 0, 0) translateY(-50%);
		}
		50% {
			-webkit-transform: translate3d(0, 0, 0) translateY(50%);
			transform: translate3d(0, 0, 0) translateY(50%);
		}
		100% {
			-webkit-transform: translate3d(0, 0, 0) translateY(-50%);
			transform: translate3d(0, 0, 0) translateY(-50%);
		}
	}

	@-webkit-keyframes moveHorizontal {
		0% {
			-webkit-transform: translate3d(0, 0, 0) translateX(-50%) translateY(-10%);
			transform: translate3d(0, 0, 0) translateX(-50%) translateY(-10%);
		}
		50% {
			-webkit-transform: translate3d(0, 0, 0) translateX(50%) translateY(10%);
			transform: translate3d(0, 0, 0) translateX(50%) translateY(10%);
		}
		100% {
			-webkit-transform: translate3d(0, 0, 0) translateX(-50%) translateY(-10%);
			transform: translate3d(0, 0, 0) translateX(-50%) translateY(-10%);
		}
	}

	@keyframes moveHorizontal {
		0% {
			-webkit-transform: translate3d(0, 0, 0) translateX(-50%) translateY(-10%);
			transform: translate3d(0, 0, 0) translateX(-50%) translateY(-10%);
		}
		50% {
			-webkit-transform: translate3d(0, 0, 0) translateX(50%) translateY(10%);
			transform: translate3d(0, 0, 0) translateX(50%) translateY(10%);
		}
		100% {
			-webkit-transform: translate3d(0, 0, 0) translateX(-50%) translateY(-10%);
			transform: translate3d(0, 0, 0) translateX(-50%) translateY(-10%);
		}
	}

	.gradient-bg .g1,
	.gradient-bg .g2,
	.gradient-bg .g3,
	.gradient-bg .g4,
	.gradient-bg .g5 {
		will-change: transform;
	}

	.gradient-bg {
		width: 100vw;
		height: 100vh;
		position: fixed;
		overflow: hidden;
		background: -o-linear-gradient(50deg, var(--color-bg1), var(--color-bg2));
		background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
		top: 0;
		left: 0;
		z-index: -15;
	}

	.gradient-bg .svg {
		display: none;
	}

	.gradient-bg .gradients-container {
		-webkit-filter: url(#goo) blur(40px);
		filter: url(#goo) blur(40px);
		width: 100%;
		height: 100%;
		opacity: 0.7;
	}

	.gradient-bg .g1 {
		position: absolute;
		background: -o-radial-gradient(center, circle, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
		background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
		mix-blend-mode: var(--blending);

		-webkit-transform: translate3d(0, 0, 0);

		transform: translate3d(0, 0, 0);
		width: calc(var(--circle-size) * 0.65);
		height: var(--circle-size);
		top: calc(50% - var(--circle-size) / 3);
		left: calc(50% - var(--circle-size) / 3);

		-webkit-transform-origin: center center;

		-ms-transform-origin: center center;

		transform-origin: center center;
		-webkit-animation: moveVertical 30s ease infinite;
		animation: moveVertical 30s ease infinite;

		opacity: 1;
	}

	.gradient-bg .g2 {
		position: absolute;
		background: -o-radial-gradient(center, circle, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
		background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
		mix-blend-mode: var(--blending);

		-webkit-transform: translate3d(0, 0, 0);

		transform: translate3d(0, 0, 0);
		width: calc(var(--circle-size) * 0.65);
		height: var(--circle-size);
		top: calc(50% - var(--circle-size) / 3);
		left: calc(50% - var(--circle-size) / 3);

		-webkit-transform-origin: calc(50% - 400px);

		-ms-transform-origin: calc(50% - 400px);

		transform-origin: calc(50% - 400px);
		-webkit-animation: moveInCircle 20s reverse infinite;
		animation: moveInCircle 20s reverse infinite;

		opacity: 1;
	}

	.gradient-bg .g3 {
		position: absolute;
		background: -o-radial-gradient(center, circle, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
		background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
		mix-blend-mode: var(--blending);

		-webkit-transform: translate3d(0, 0, 0);

		transform: translate3d(0, 0, 0);
		width: calc(var(--circle-size) * 0.65);
		height: var(--circle-size);
		top: calc(50% - var(--circle-size) / 3 + 200px);
		left: calc(50% - var(--circle-size) / 3 - 500px);

		-webkit-transform-origin: calc(50% + 400px);

		-ms-transform-origin: calc(50% + 400px);

		transform-origin: calc(50% + 400px);
		-webkit-animation: moveInCircle 40s linear infinite;
		animation: moveInCircle 40s linear infinite;

		opacity: 1;
	}

	.gradient-bg .g4 {
		position: absolute;
		background: -o-radial-gradient(center, circle, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
		background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
		mix-blend-mode: var(--blending);

		-webkit-transform: translate3d(0, 0, 0);

		transform: translate3d(0, 0, 0);
		width: calc(var(--circle-size) * 0.65);
		height: var(--circle-size);
		top: calc(50% - var(--circle-size) / 3);
		left: calc(50% - var(--circle-size) / 3);

		-webkit-transform-origin: calc(50% - 200px);

		-ms-transform-origin: calc(50% - 200px);

		transform-origin: calc(50% - 200px);
		-webkit-animation: moveHorizontal 40s ease infinite;
		animation: moveHorizontal 40s ease infinite;

		opacity: 0.7;
	}

	.gradient-bg .g5 {
		position: absolute;
		background: -o-radial-gradient(center, circle, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
		background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
		mix-blend-mode: var(--blending);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		width: calc(var(--circle-size) * 2 * 0.65);
		height: calc(var(--circle-size) * 2);
		top: calc(50% - var(--circle-size));
		left: calc(50% - var(--circle-size));

		-webkit-transform-origin: calc(50% - 800px) calc(50% + 200px);

		-ms-transform-origin: calc(50% - 800px) calc(50% + 200px);

		transform-origin: calc(50% - 800px) calc(50% + 200px);
		-webkit-animation: moveInCircle 20s ease infinite;
		animation: moveInCircle 20s ease infinite;

		opacity: 1;
	}

	/******************************************************** Hovers effect ********************************************************/
	/* purple */
	.button-purple {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		text-decoration: none;
		color: inherit;
		position: relative;
		-webkit-box-shadow:
			inset 0 0 0 0px #fff,
			inset -4px -4px 0 6px rgb(79, 70, 229);
		box-shadow:
			inset 0 0 0 0px #fff,
			inset -4px -4px 0 6px rgb(79, 70, 229);
		background-color: rgb(79, 70, 229);
		cursor: pointer;
	}

	.button-purple:before {
		position: absolute;
		left: 0;
		bottom: 0;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: #fff;
		-webkit-transform-origin: 0 bottom 0;
		-ms-transform-origin: 0 bottom 0;
		transform-origin: 0 bottom 0;
		-webkit-transform: scaleY(0);
		-ms-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transition: 0.4s ease-out;
		-o-transition: 0.4s ease-out;
		transition: 0.4s ease-out;
	}

	.button-purple:hover .button-purple-title {
		color: rgb(79, 70, 229);
	}

	.button-purple:hover:before {
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
	}

	.button-purple-title {
		position: relative;
		-webkit-transition: 0.4s ease-out;
		-o-transition: 0.4s ease-out;
		transition: 0.4s ease-out;
	}

	/* sky */
	.button-cyan {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		text-decoration: none;
		color: inherit;
		position: relative;
		/*box-shadow:*/
		/*	inset 0 0 0 0px #fff,*/
		/*	inset -4px -4px 0 6px rgb(2, 132, 199);*/
		/*background-color: rgb(2, 132, 199);*/
		-webkit-box-shadow:
			inset 0 0 0 0px #fff,
			inset -4px -4px 0 6px rgb(8, 145, 178);
		box-shadow:
			inset 0 0 0 0px #fff,
			inset -4px -4px 0 6px rgb(8, 145, 178);
		background-color: rgb(8, 145, 178);
		cursor: pointer;
	}

	.button-cyan:before {
		position: absolute;
		left: 0;
		bottom: 0;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: #fff;
		-webkit-transform-origin: 0 bottom 0;
		-ms-transform-origin: 0 bottom 0;
		transform-origin: 0 bottom 0;
		-webkit-transform: scaleY(0);
		-ms-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transition: 0.4s ease-out;
		-o-transition: 0.4s ease-out;
		transition: 0.4s ease-out;
	}

	.button-cyan:hover .button-cyan-title {
		/*color: rgb(2, 132, 199);*/
		color: rgb(8, 145, 178);
	}

	.button-cyan:hover:before {
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
	}

	.button-cyan-title {
		position: relative;
		-webkit-transition: 0.4s ease-out;
		-o-transition: 0.4s ease-out;
		transition: 0.4s ease-out;
	}

	/*** title ***/
	.patterns {
		height: 100vh;
		width: 100vw;
	}

	.patterns svg text {
		font-family: var(--font-noto-serif-display);
		letter-spacing: 10px;
		stroke: #a5f3fc;
		stroke-width: 1.5;

		-webkit-animation: textAnimate 5s infinite alternate;

		animation: textAnimate 5s infinite alternate;
	}

	@-webkit-keyframes textAnimate {
		0% {
			stroke-dasharray: 0 50%;
			stroke-dashoffset: 20%;
			fill: #fff;
		}

		100% {
			stroke-dasharray: 50% 0;
			stroke-dashoffstet: -20%;
			fill: hsla(189, 68%, 75%, 0%);
		}
	}

	@keyframes textAnimate {
		0% {
			stroke-dasharray: 0 50%;
			stroke-dashoffset: 20%;
			fill: #fff;
		}

		100% {
			stroke-dasharray: 50% 0;
			stroke-dashoffstet: -20%;
			fill: hsla(189, 68%, 75%, 0%);
		}
	}

	/*** icon animation ***/
	.slider-nav-item:before {
		pointer-events: none;
	}

	.slider-nav-item:hover:before {
		-webkit-animation: 1.5s linear 0s normal none infinite focuse;
		animation: 1.5s linear 0s normal none infinite focuse;
		position: absolute;
		content: '';
		height: calc(100% + 16px);
		width: calc(100% + 16px);
		top: -8px;
		left: -8px;
		border-radius: 50%;
		border: 1px solid rgba(255, 255, 255, 0.35);
	}

	@keyframes focuse {
		0% {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
			opacity: 1;
		}
		75% {
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
			opacity: 0;
		}
		100% {
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
			opacity: 0;
		}
	}

	@-webkit-keyframes focuse {
		0% {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
			opacity: 1;
		}
		75% {
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
			opacity: 0;
		}
		100% {
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
			opacity: 0;
		}
	}

	@keyframes slide {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 40px 0;
		}
	}

	@-webkit-keyframes slide {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 40px 0;
		}
	}

	/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
	@-webkit-keyframes jello-horizontal {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
		30% {
			-webkit-transform: scale3d(1.25, 0.75, 1);
			transform: scale3d(1.25, 0.75, 1);
		}
		40% {
			-webkit-transform: scale3d(0.75, 1.25, 1);
			transform: scale3d(0.75, 1.25, 1);
		}
		50% {
			-webkit-transform: scale3d(1.15, 0.85, 1);
			transform: scale3d(1.15, 0.85, 1);
		}
		65% {
			-webkit-transform: scale3d(0.95, 1.05, 1);
			transform: scale3d(0.95, 1.05, 1);
		}
		75% {
			-webkit-transform: scale3d(1.05, 0.95, 1);
			transform: scale3d(1.05, 0.95, 1);
		}
		100% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}

	@keyframes jello-horizontal {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
		30% {
			-webkit-transform: scale3d(1.25, 0.75, 1);
			transform: scale3d(1.25, 0.75, 1);
		}
		40% {
			-webkit-transform: scale3d(0.75, 1.25, 1);
			transform: scale3d(0.75, 1.25, 1);
		}
		50% {
			-webkit-transform: scale3d(1.15, 0.85, 1);
			transform: scale3d(1.15, 0.85, 1);
		}
		65% {
			-webkit-transform: scale3d(0.95, 1.05, 1);
			transform: scale3d(0.95, 1.05, 1);
		}
		75% {
			-webkit-transform: scale3d(1.05, 0.95, 1);
			transform: scale3d(1.05, 0.95, 1);
		}
		100% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}

	.jello-horizontal {
		-webkit-animation: jello-horizontal 0.9s both;
		animation: jello-horizontal 0.9s both;
	}

	/** custom-button-icons **/
	.custom-button-icons:hover * {
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.custom-button-icons:hover * {
		-webkit-animation: jello-horizontal 0.9s both;
		animation: jello-horizontal 0.9s both;
	}

	/** custom-button-icons-3d **/
	.custom-button-icons-3d:hover > :first-child {
		-webkit-animation: jello-horizontal 0.9s both;
		animation: jello-horizontal 0.9s both;
	}

	/** custom image hover wahou **/
	.custom-image-hover {
		-webkit-mask: url(/assets/images/sprite.png);
		mask: url(/assets/images/sprite.png);
		-webkit-mask-size: 7100% 100%;
		mask-size: 7100% 100%;
		-webkit-animation: ani2 0.7s steps(70) forwards;
		animation: ani2 0.7s steps(70) forwards;
	}

	.custom-image-hover:hover {
		-webkit-animation: ani 0.7s steps(70) forwards;
		animation: ani 0.7s steps(70) forwards;
	}

	@-webkit-keyframes ani {
		from {
			-webkit-mask-position: 0 0;
			mask-position: 0 0;
		}
		to {
			-webkit-mask-position: 100% 0;
			mask-position: 100% 0;
		}
	}

	@keyframes ani {
		from {
			-webkit-mask-position: 0 0;
			mask-position: 0 0;
		}
		to {
			-webkit-mask-position: 100% 0;
			mask-position: 100% 0;
		}
	}

	@-webkit-keyframes ani2 {
		from {
			-webkit-mask-position: 100% 0;
			mask-position: 100% 0;
		}
		to {
			-webkit-mask-position: 0 0;
			mask-position: 0 0;
		}
	}

	@keyframes ani2 {
		from {
			-webkit-mask-position: 100% 0;
			mask-position: 100% 0;
		}
		to {
			-webkit-mask-position: 0 0;
			mask-position: 0 0;
		}
	}

	/*********************** Loader animation ***********************/
	.loader-circle {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		margin-left: -60px;
		margin-top: -60px;
	}

	.loader-line-mask {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 60px;
		height: 120px;
		margin-left: -60px;
		margin-top: -60px;
		overflow: hidden;
		-webkit-transform-origin: 60px 60px;
		-ms-transform-origin: 60px 60px;
		transform-origin: 60px 60px;
		-webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
		-webkit-animation: rotate 1.2s infinite linear;
		animation: rotate 1.2s infinite linear;
	}

	.loader-line-mask .loader-line {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
	}

	@keyframes rotate {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-webkit-keyframes rotate {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		border-color: hsl(var(--border));
	}
	body {
		background-color: hsl(var(--background));
		color: hsl(var(--foreground));
	}
}

.lottie-1 .lf-player-container,
.lottie-2 .lf-player-container {
	width: 100vw;
	height: 100vh;
	position: absolute;
	bottom: 100vh;
	left: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 0;
	opacity: 0.15;
	mix-blend-mode: overlay;
	pointer-events: none;
	user-select: none;
}

.lottie-1 .lf-player-container {
	transform: translateX(-50%) translateY(50%);
	-webkit-transform: translateX(-50%) translateY(50%);
	-moz-transform: translateX(-50%) translateY(50%);
	-ms-transform: translateX(-50%) translateY(50%);
	-o-transform: translateX(-50%) translateY(50%);
}

.lottie-2 .lf-player-container {
	transform: translateX(50%) translateY(-150%);
	-webkit-transform: translateX(50%) translateY(-150%);
	-moz-transform: translateX(50%) translateY(-150%);
	-ms-transform: translateX(50%) translateY(-150%);
	-o-transform: translateX(50%) translateY(-150%);
}

/* on mobile */
@media (max-width: 768px) {
	.lottie-1 .lf-player-container,
	.lottie-2 .lf-player-container {
		display: none;
	}
}

.button-animated {
	--duration: 0.5s;
	--move-hover: -4px;
	outline: none;
	border: none;
	cursor: pointer;
	text-decoration: none;
	transform: translateY(var(--y));
	transition:
		transform var(--duration) ease,
		box-shadow var(--duration) ease;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
}
.button-animated div {
	display: flex;
}
.button-animated div span {
	display: block;
	backface-visibility: hidden;
	font-style: normal;
}
.button-animated div span:nth-child(1) {
	--d: 0.05s;
}
.button-animated div span:nth-child(2) {
	--d: 0.1s;
}
.button-animated div span:nth-child(3) {
	--d: 0.15s;
}
.button-animated div span:nth-child(4) {
	--d: 0.2s;
}
.button-animated div span:nth-child(5) {
	--d: 0.25s;
}
.button-animated div span:nth-child(6) {
	--d: 0.3s;
}
.button-animated div span:nth-child(7) {
	--d: 0.35s;
}
.button-animated div span:nth-child(8) {
	--d: 0.4s;
}
.button-animated div span:nth-child(9) {
	--d: 0.45s;
}
.button-animated div span:nth-child(10) {
	--d: 0.5s;
}
.button-animated div span:nth-child(11) {
	--d: 0.55s;
}
.button-animated:hover {
	--y: var(--move-hover);
	--move: -4px;
	--shadow-active: 0 3px 1px rgba(0, 0, 0, 0.2);
}
.button-animated:hover span {
	animation: move var(--duration) linear var(--d);
}
.button-animated.smoke {
	--move: 12px;
	--move-y: -8px;
	--blur: 4px;
}
.button-animated.smoke:hover span {
	--duration: 1s;
	animation: smoke var(--duration) linear var(--d);
}
@keyframes move {
	40% {
		transform: translateY(var(--move));
		text-shadow: var(--shadow-active);
	}
}
@keyframes smoke {
	45%,
	55% {
		filter: blur(var(--blur));
	}
	50%,
	50.1% {
		opacity: 0;
	}
	25%,
	75% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(var(--move)) translateY(var(--move-y));
	}
	50.1% {
		transform: translateX(calc(var(--move) * -1));
	}
}

.shadow-custom {
	box-shadow: inset 0 0 35px 10px #1b1f4c;
}

.shadow-innercustom:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	z-index: 31;
	border: 2px solid rgba(255, 255, 255, 0.3);
	transform: translate(10px, 10px);
	pointer-events: none;
	transition: transform 0.3s ease-in-out;
}

.shadow-innercustom:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	z-index: 31;
	border: 2px solid rgba(255, 255, 255, 0.3);
	transform: translate(-10px, -10px);
	pointer-events: none;
	transition: transform 0.3s ease-in-out;
}

.shadow-innercustom:hover:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	z-index: 31;
	border: 2px solid rgba(255, 255, 255, 0.3);
	transform: translate(-10px, -10px);
	pointer-events: none;
}

.shadow-innercustom:hover:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	z-index: 31;
	border: 2px solid rgba(255, 255, 255, 0.3);
	transform: translate(10px, 10px);
	pointer-events: none;
}

.menu {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	padding: 0;
}

.line {
	fill: none;
	stroke-width: 6;
	transition:
		stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}

.line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

/*** custom popup ***/
.custom-popup > div:first-child::before {
	content: '';
	position: absolute;
	right: -26px;
	top: 15px;
	width: 0;
	border-top: 15px solid transparent;
	border-left: 20px solid #0d0c3c;
	border-right: 20px solid transparent;
	border-bottom: 15px solid transparent;
	transform: scale(0.5);
	border-radius: 0.5rem;
	z-index: 10;
}

/*** custom popup ***/
.custom-popup > div:first-child::after {
	content: '';
	position: absolute;
	right: -30px;
	top: 15px;
	width: 0;
	border-top: 15px solid transparent;
	border-left: 20px solid #fff;
	border-right: 20px solid transparent;
	border-bottom: 15px solid transparent;
	transform: scale(0.5);
	border-radius: 0.5rem;
	z-index: 1;
}

.custom-popup {
	/*animation: popFromBottom 10s forwards;*/
	bottom: -3.5rem;
	transition: bottom 0.5s ease-in-out;
}

.custom-popup.open {
	bottom: 1rem;
}

.custom-popup:hover {
	animation: vibration 0.1s infinite;
}

.custom-popup.open:hover {
	animation: none;
}

/* on mobile */
@media (max-width: 768px) {
	.custom-popup {
		bottom: -6rem;
	}

	.custom-popup:hover {
		animation: none;
	}
}

@keyframes vibration {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateX(-0.1rem);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: translateX(0.1rem);
	}
	100% {
		transform: translateY(0);
	}
}

/* Shimmer Button */

.shimmer-slide {
	animation: shimmer-slide 3s ease-in-out infinite alternate;
}

.spin-around {
	animation: spin-around 6s infinite linear;
}

@keyframes spin-around {
	0% {
		transform: translateZ(0) rotate(0deg);
	}
	15% {
		transform: translateZ(0) rotate(90deg);
	}
	35% {
		transform: translateZ(0) rotate(90deg);
	}
	65% {
		transform: translateZ(0) rotate(270deg);
	}
	85% {
		transform: translateZ(0) rotate(270deg);
	}
	100% {
		transform: translateZ(0) rotate(360deg);
	}
	100% {
		transform: translateZ(0) rotate(360deg);
	}
}

/* New shimmer around button animation */
@keyframes shimmer-slide {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
